body {
  background-color: initial;
}

#PavlaE {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#AliceB {
  background-color: yellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

#KarolinaV {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#MichaelaB {
  background-color: yellow;
  font-family: initial;
  color: black;
}

#VeronikaK {
  background-color: darkolivegreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
}
