body {
  background-color: initial;
}

#PavlaE {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#AliceB {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#KarolinaV {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#MichaelaB {
  background-color: initial;
  font-family: initial;
  color: initial;
}

#VeronikaK {
  background-color: initial;
  font-family: initial;
  color: initial;
}
