body {
  background-color: initial;
}

#PavlaE {
  background-color: rgb(164, 164, 233);
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  color: initial;
}

#AliceB {
  background-color: yellow;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: black;
}

#KarolinaV {
  background-color: rgb(72, 9, 90);
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
  color: white;
}

#MichaelaB {
  background-color: yellow;
  font-family: initial;
  color: black;
}

#VeronikaK {
  background-color: darkolivegreen;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;

  .my_img {
    width: 400px;
    border-radius: 5px;
  }
  
}
